body{
    margin: 10px;
    padding: 0;
    max-width: 830px;
    font-family: Arial, sans-serif;
    font-size: medium;
    line-height: 1.6;
    color: #555;
}
header{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 30px 20px 0px 10px;
}
header .logo{
    padding: 5px 40px 50px 10px;
}
header .logo2{
    padding: 5px 5px 5px 40px;
}
figure{
    margin: auto;
    padding-top: 20px;
    width: 100%;
    height: auto;
}
.edicao{
    text-align: center;
    padding: 5px;
    color: #555;
}
.container{
    background-color: white;
}
.fotox0{
    /*height: 900px;
    width: 800px */
    width: auto;
    align-items: center;
}
.paginas{
    list-style: none;
    padding-left: 0;
}
.capa{
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    border-radius: 5px;

}
.entrepag{
    text-align: center;
}
.pagina{
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 10px 10px 20px 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    border-radius: 5px;
    column-count: 2;
    text-align: left; 
}
.subcab{
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    clear: left;
}
.subcab2{
    text-align: center;
    padding-top: 20px;
    clear: left;
}
.assger{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
}
.assger li{
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    clear: left;
}
.funcao{
    font-weight: bold;
}
.nome{
    font-size: large;
}
.origem{
    font-style: italic;
}
.pag2img{
    padding: 0px;
    width: 90px;
    height: 110px;
    float: left;
    margin: 6px 10px;
    border-color: cadetblue;
    border-style: solid;
}
.imgembutida{
    width: auto;
    float: right;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    max-width: 186px;
}
.imgembutida2{
    width: auto;
    float: right;
    padding: 0px 5px;
    margin: 0px auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
.apresenta h2{
    text-align: center;
}
.apresenta{
    margin-left: 5px;
    text-align: left;
    padding-top: 30px;
    clear: left;
}
.logomaos{
    padding: 10px 0px 0px 40px;
    width: auto;
    height: auto;
    align-items: center;
}
.autor{
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    clear: left;
}
.recolha{
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
.alerta{
    width: auto;
    border: 10px solid red;
    text-align: center;
    background-color: yellow;
}
.colimage{
    padding-top: 20px;
    width: 100%;
    height: auto;
}
.colicone{
    padding: 0px;
    margin: opx;
}
.gratis{
    color: green;
}
.realcetexto{
    background-color: yellow;
}
.aviso{
    padding: 0;
    margin: 0;
    text-align: center;
    color: blue;
}
.titulinterm{
    font-size: large;
    font-weight: bold;
    padding: 15px 0 0 0
}
.titulo4{
    padding-top: 20px;
    font-weight: bold;
    color: orangered;
}
.lisemestilo{
    padding-top: 5px;
    list-style: none;
}
.lisemestilo li{
    margin: 0;
    padding: 0 25px 0 0;
}
.listacol{
    margin: 0;
    padding: 0;
    line-height: 1.4;
}
.pdfimage{
    width: 100%;
    height: auto;
}

footer{
        margin: 0 15px;
        padding: 5px;
        line-height: 1.1;
        background-color: yellow;
        text-align: center;
}
footer .name{
    color: blue;
}
footer .email{
    color:#1e3799;
}


@media screen and (max-width:768px) {
    header .logo{
        display: block;
        margin: auto;
        padding: 0;
    }
    header .titulo{
        width: 70%;
        height: auto;
    }
    header .logo2{
        display: none;
    }
    .fotox0{
        width: 100%;
        height: auto;
    }
    footer{
        font-size: small;
        line-height: 1.1;
    }
}



@media screen and (max-width:480px) {
    body{
        margin: 0px;
    }
    header .logo{
        display: block;
        align-items: center;
        padding: 0;
    }
    header .titulo{
        width: 70%;
        height: auto;
    }
    header .logo2{
        display: none;
    }
    .edicao{
        font-size: small;
    }
    .pagina{
        column-count: 1;
    }    
    footer{
        font-size: small;
        line-height: 1.2;
    }

}